header {
    text-align: center;
    background-image: linear-gradient(to right, rgb(88, 88, 199), rgb(3, 3, 43));
    color:  white;
    padding: 1rem;
    margin: 0;
}

.flexThis {
    display: flex;
}

h2 {
    font-weight: 750;
    margin: 1rem;
}

.container {
    margin: 0;
    padding: 2rem;
}

.line {
    max-width: 300px;
    margin: 1rem;
}

button {
    display: block;
    margin: 1rem;
    width: 300px;
    max-width: 300px;
    border: none;
    border-radius: 5;
}

input {
    margin: 1rem;
    max-width: 300px;
    border-radius: 4;
    padding: 10px;
}

#searchBtn {
    display: block;
    background-color: rgb(76, 106, 187);
    color:white;
}

#searchBtn:hover {
    background-color: blue;
    transition: 0.75s;
}

.search {
    width: 25vw;
}

#searchResults {
    border: solid black;
    width: 65vw;
    margin: 1rem;
}

.container {
    padding: 1rem;
}

#cityName {
    margin-top: 0;
    margin-left: 0;
}
.card {
    width: 12rem;
}

ol {
    padding-left: 0;
}